body {
    background-color: white;
    color: black;
}

header{
    margin-bottom: 50px;
}

table, td, th {
    border: 1px solid black;
    padding: 15px;
}

table {
    border-collapse: collapse;
    text-align: center;
}

button {
    text-align: left;
}


a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

